.cart-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: $white;
    .go-to-title-smartphone {
        display: none;
        @include media("<=phone") {
            display: flex;
            flex-direction: column;
            height: 130px;
            justify-content: flex-end;
            font-size: 36px;
            padding-left: 8px;
            border-bottom: 5px solid rgba(0,0,0,1);
        }
    }
    @include media("<=phone") {
        height:100%;
        flex-direction: column;
        
    }
    .product-container {
        width: 66.66%;
        padding-left: 50px;
        padding-right: 50px ;
        background-color: rgb(237, 237, 243);
        display: flex;
        flex-direction: column;
        @include media("<=phone") {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
        .product-container-header {
            height: 50px;
            background-color: #fff;
            margin-top: 120px;
            display: grid;
            padding-left: 30px;
            grid-template-columns:  2fr 2fr 1fr 2fr;
            padding: 10px;
            align-items: center;
            font-weight: 800;
            font-size: 12px;
            @include media("<=phone") {
                display: none;
            }
            border-bottom: 5px solid rgba(0,0,0,1);
            .header-field {
               color: #aaa;
               
               
            }
        }
        .product-table {
           
            
            @include media("<=phone") {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 1000px;       
            }
            .dummy-product-row {
                height: 120px;
                background-color: $white;
                padding: 10px;
                display: grid;
                padding-left: 30px;
                grid-template-columns: 2fr 4fr;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                @include media('<=phone') {
                    height: 250px;
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    padding-left: 0;
                    padding: 0;
                }
                .item-thumbnail-container {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include media('<=phone') {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-left: 20px;
                    }
                    .item-thumbnail {
                        height: 100px;
                        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                    }

                    @include media("<=phone") {
                        .item-thumbnail {
                            height: 150px;
                            box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                        }
                    }
                }
                .row-text {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    width: 100%;
                    height: 100%;
                    
                    .item-price-and-quantity-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        .item-price-field {
                            display: flex;
                            align-items: center;
                        }
                        .item-quantity-field {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .item-operators {
                                .little-circle-operators {
                                    border: 2px solid #000;
                                    height: 24px;
                                    font-size: 20px;
                                    width: 24px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 100%;
                                    color: black;
                                    background-color: white;
                                }
                            }
                            .item-count {
                                padding: 10px 0px 10px 0px;
                            } 
                        }
        
                    }
                    
                    .item-total-field {
    
                    }
                    .item-remove-button {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    @include media("<=phone") {
                        width: 50%;
                        height: 100%;
                        display: grid;
                        grid-template-rows: 1fr 5fr ;
                        
                        .item-price-and-quantity-container {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-end;
                            .item-price-field {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 20px;
                            }
            
                            .item-quantity-field {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
            
                            }
                        }
                        
        
                        .item-total-field {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: 26px;
                        }
                        .item-remove-button {
                            grid-row-start: 1;
                            grid-row-end: 2;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            padding: 16px 24px 0px 0px ;
                            align-items: center;
                        }
                    }
                }

            }
            
        }
    }
    .go-to-checkout-container {
        width: 33.33%;
        background-color: $white;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 20px 1fr 20px;
        @include media("<=phone") {
            display: none;
            
        }
        .go-to-checkout-title {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            font-size: 38px;
            
        }
        .go-to-checkout-inner-container {
            grid-row: 2 / 5;
            grid-column: 2 / 3;
            display: grid;
            grid-template-rows: 70px repeat(5, 1fr);
            
            
            .gant-line {
                height: 70px;
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .gant-circle-1 {
                    background-color: #f0f0f0;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    border-radius: 100%;
                    margin-right: -10px;
                }
                .gant-line-1 {
                    background-color: #f0f0f0;
                    height: 10px;
                    width:110px;
                    justify-content: center;
                    align-items: center;

                }
                .gant-circle-2 {
                    background-color: #f0f0f0;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin-right: -10px;
                }
                .gant-line-2 {
                    background-color: #f0f0f0;
                    height: 10px;
                    width:110px;
                }
                .gant-circle-3 {
                    background-color: #f0f0f0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    margin-right: -10px;
                }
            }
            .total-container {
                border-top: 8px solid rgba(0,0,0,1);
                grid-row: 3 / 4;
                display: flex;
                flex-direction: row; 
                justify-content: flex-start;
                align-items: baseline;
                padding: 10px;   
                .total-label {
                    font-size: 18px;
                }
                .total-value {
                    font-size: 32px;
                    margin-left: 10px;
                }
            }
            .conditions-and-agreements {
                grid-row: 4 / 5;
                .shipping-conditions {
                    font-size: 13px;
                    color: #aaa;
                }
                .term-agreement {
                    margin-top: 10px;
                }
            }
            .checkout-buttons {
                grid-row: 6 / 7;
                .button-to-checkout {
                    height: 70px;
                    width: 180px;
                    background-color: $black;
                    color: $white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }
            
        }

    }
}