.cart-container {
    height: 100vh;
    width: 100vw;
   
    display: flex;
    flex-direction: row;
    background-color: $white;
    .go-to-title-smartphone {
        display: none;
        @include media("<=phone") {
            display: flex;
            flex-direction: row;
            height: 130px;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 36px;
            background-color: $white;
            padding-left: 8px;
            padding-top: 80px; 
            border-bottom: 5px solid rgba(0,0,0,1);
            .remove-cart-button {
                font-size: 13px;
                font-weight: 500;
                border: none;
                color:#c0c0c0;
                background: $white;
                margin-bottom: 8px;
                &:hover {
                    color:$black;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;
                }               
            }
        }
    }
    @include media("<=phone") {
        height: 100vh;
        overflow: scroll;
        background-color: rgb(237, 237, 243);
        flex-direction: column;
        
    }
    .product-container {
        width: 66.66%;
        padding-left: 50px;
        padding-right: 50px ;
        background-color: rgb(237, 237, 243);
        display: flex;
        flex-direction: column;
        @include media("<=phone") {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
        .product-container-header {
            height: 50px;
            background-color: #fff;
            margin-top: 120px;
            display: grid;
            padding-left: 30px;
            grid-template-columns:  2fr 2fr 1fr 2fr;
            padding: 10px;
            align-items: center;
            font-weight: 800;
            font-size: 12px;
            @include media("<=phone") {
                display: none;
            }
            border-bottom: 5px solid rgba(0,0,0,1);
            .header-field {
               color: #aaa;
               
               
            }
            .remove-cart-button-container {
                display: flex;
                justify-content: center;
                .remove-cart-button {
                    font-size: 13px;
                    font-weight: 500;
                    border: none;
                    color:#c0c0c0;
                    background: $white;
                    &:hover {
                        color:$black;
                        cursor: pointer;
                        transition: all 0.4s ease-in-out;
                    }               
                }
            }
        }
        .product-table {
           
           
            @include media("<=phone") {
                width: 100%;
                overflow-x: scroll;
                display: flex;
                flex-direction: column;
                height: 100%;
                margin-top: 56px;
                padding-bottom: 200px;    
                 
            }
            .dummy-product-row {
                transition: all .2s ease-in-out;
                height: 120px;
                background-color: $white;
                padding: 10px;
                display: grid;
                padding-left: 30px;
                grid-template-columns: 2fr 4fr;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                @include media('<=phone') {
                    height: 250px;
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    padding-left: 0;
                    padding: 0;
                }
                .item-thumbnail-container {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include media('<=phone') {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-left: 20px;
                    }
                    .item-thumbnail {
                        height: 100px;
                        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                    }

                    @include media("<=phone") {
                        .item-thumbnail {
                            
                            height:auto;
                            width: 150px;
                            object-fit:contain;
                        }
                    }
                }
                .row-text {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    width: 100%;
                    height: 100%;
                    
                    .item-price-and-quantity-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        .item-price-field {
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                        }
                        .item-quantity-field {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .item-operators {
                                
                                .little-circle-operators {
                                    border: 2px solid #000;
                                    height: 24px;
                                    font-size: 20px;
                                    width: 24px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 100%;
                                    color: black;
                                    background-color: white;
                                    transition: all .4s ease-in-out;
                                    &:hover {
                                        background-color: rgba(0,0,0,1);
                                        color: $white;
                                        cursor: pointer;
                                        
                                    }
                                }
                                

                            }
                            .item-count {
                                
                            } 
                        }
        
                    }
                    
                    .item-total-field {
    
                    }
                    .item-remove-button {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .cart-item-remove-button {
                            border: 2px solid rgba(0,0,0,1);
                            height: 42px;
                            width: 42px;
                            border-radius: 100%;
                            transition: all .4s ease-in-out;
                            &:hover {
                                cursor: pointer;
                                background-color: $black;
                                color: $white;
                                
                            }
                        }
                    }

                    @include media("<=phone") {
                        width: 50%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: none;
                        grid-template-rows: 1fr 5fr;
                        
                        .item-price-and-quantity-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .item-price-field {
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                                
                            }
            
                            .item-quantity-field {
                                height: 70%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: center;
            
                            }
                        }
                        
        
                        .item-total-field {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: 26px;
                        }
                        .item-remove-button {
                            grid-row-start: 1;
                            grid-row-end: 2;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            padding: 16px 24px 0px 0px ;
                            align-items: center;
                            .cart-item-remove-button {
                                
                                height: 32px;
                                width: 32px;
                                border: none;
                               
                                
                            }
                        }
                    }
                }

            }
            
        }
    }
    
    .go-to-checkout-container {
        width: 33.33%;
        background-color: $white;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 20px 1fr 20px;
        @include media("<=phone") {
            display: none;
            
        }
        .go-to-checkout-title {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            font-size: 38px;
            
        }
        .go-to-checkout-inner-container {
            grid-row: 2 / 5;
            grid-column: 2 / 3;
            display: grid;
            grid-template-rows: 70px repeat(5, 1fr);
            
            
            .gant-line {
                height: 70px;
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .gant-circle-1 {
                    background-color: #f0f0f0;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    border-radius: 100%;
                    margin-right: -10px;
                }
                .gant-line-1 {
                    background-color: #f0f0f0;
                    height: 10px;
                    width:110px;
                    justify-content: center;
                    align-items: center;

                }
                .gant-circle-2 {
                    background-color: #f0f0f0;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin-right: -10px;
                }
                .gant-line-2 {
                    background-color: #f0f0f0;
                    height: 10px;
                    width:110px;
                }
                .gant-circle-3 {
                    background-color: #f0f0f0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    margin-right: -10px;
                }
            }
            .total-container {
                border-top: 8px solid rgba(0,0,0,1);
                grid-row: 3 / 4;
                display: flex;
                flex-direction: row; 
                justify-content: flex-start;
                align-items: baseline;
                padding: 10px;   
                .total-label {
                    font-size: 18px;
                }
                .total-value {
                    font-size: 32px;
                    margin-left: 10px;
                }
            }
            .conditions-and-agreements {
                grid-row: 4 / 5;
                .shipping-conditions {
                    font-size: 13px;
                    color: #aaa;
                }
                .term-agreement {
                    margin-top: 10px;
                }
            }
            .checkout-buttons {
                grid-row: 6 / 7;
                .button-to-checkout {
                    height: 70px;
                    width: 180px;
                    background-color: $black;
                    color: $white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }
            
        }

    }
}
.cart-add-to-cart-container {
    border-top: 1px solid rgba(0,0,0,0.07);
    box-shadow: 2px 2px 8px 5px rgba(0,0,0,0.1);
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    @include media(">=phone") {
        display: none;
    }
   
    @include media("<=tablet") {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 0px;
        padding-top: 20px;
    }
    padding: 20px;
    .cart-price {

        @include media("<=tablet") {
            padding-right: 20px;
            text-align: end;
            font-size: 30px
        }
        font-size: 40px;
        letter-spacing: 2px;
        font-size: 28x;
        color: $black;
        border-bottom: 1px solid rgba(0,0,0,0.08);
    }

    .cart-certificates-warnings {
        padding: 8px;
        font-size: 16px;
        color: #ccc;
        .cart-certificate {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .cart-label-certificate {
                padding: 4px;
                
            }
        }
    }
    .cart-final-buttons {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media("<=tablet") {
            flex-direction: row;
        }

        .cart-add-button {
            @include media("<=tablet") {
                width: 70%;
                flex-direction: row;
                border: none;
                height: 60px;
                border-radius: 6px;
                color: $white;
                background-color: $black;
                box-shadow: 3px 8px 10px rgba(0,0,0,.2);
            }
            color: $black;
            text-decoration: none;
            height: 60px;
            width: 100%;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid rgba(0,0,0, 1);
            font-size: 26px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: rgb(34, 240, 7);
                color: $white;
                border: 3px solid rgb(34, 240, 7);
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02);
                font-weight: 700;
            }
        }
        
        .cart-or-label {
            padding: 10px;
            color: #ccc;
        }
        .cart-direct-whats {
            font-size: 18px;
            transition: all 0.3s ease-in-out;
            color: $black;
            text-decoration: none;
            @include media("<=tablet") {
                color: $white;
                background-color: $black;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 20px;
                box-shadow: 3px 8px 6px rgba(0,0,0,.2);
                font-size: 10px;
            }
            
            &:hover {
                -webkit-animation: swing 1s ease;
                animation: swing 1s ease;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
                color:  rgb(34, 240, 7);
                
            }
        }
    }
} 

