.grid-container {
    a {
        text-decoration: none;
        @include media("<=tablet") {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    height: 100vh;
    width: 100vw;
    background-color: $white;
    .picture-grid {
        display: grid;
        grid-template-columns: repeat(var(--columns, 3), 1fr);
        grid-column-gap:40px;
        grid-row-gap: 40px;
        background-color: $white;
        @include media("<=tablet") {
            grid-template-columns: repeat(var(--columns,1), 1fr);
            grid-column-gap: 0px;
            
            
            align-items: center;
            padding-top: 80px;
        }
        

        .column {
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 60px;
                margin-top: 60px;
                @include media("<=tablet") {
                    padding: 0px;
                    margin-top: 0px;
                    align-items: center;
                    
                }

            .image-container {
                position: relative;
                margin-bottom: 40px;;
                
                display: flex;
                flex-direction: column;
                transition: all 1s ease-in;
                @include media("<=tablet") {
                    width: 90%;
                    
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    .description {
                        background-color: $white;
                        border-bottom:none;
                        box-shadow: 8px 8px 8px  rgba(0,0,0,0.3);
                        transform: translateX(-10px);
                        transition: all 1s ease-in;
                    }
                    
                   

                }
                .image {
                    position: relative;
                    margin-bottom: 0px;;
                    width: 100%;
                    background-color: rgba(0,0,0,1);
                    object-fit: cover;
                    object-position: center center;
                    opacity: 1;
                    transition: all 1.5s cubic-bezier(0,1,.98,0); 
                    box-shadow: 1.8px 1.6px 1.2px rgba(0,0,0,0.6);
                    
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        z-index: 1;
                        
                        box-shadow: 8px 8px 8px rgba(0,0,0,0.3);

                    }
                }
    
                .description {
                    position: relative;
                    width: 92%;
                    top:0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    z-index:1;
                    height:80px;
                    margin-bottom: 40px;
                    
                    color: $black;
                    padding: 10px;
                    border-bottom:1px solid rgba(0,0,0,0.3);
                   
                    .price {
                        background-color: $black;
                        border-radius: 30px;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: "Playfair Display", serif;
                        color: $white;
                        padding: 8px 14px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;
                        height: 100%;
                        .artist {
                            font-family: "Playfair Display", serif;
                            font-size: 18px;
                            font-weight: 700;
                        }
    
                        .title {
                            font-family: "Playfair Display", serif;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                        }
                    }
                    
                }
            }
            
        }
        
    }


}

